.container {
    display: flex;
    justify-content: center;
    width: 50svw;
    height: 100svh;
    flex-direction: column;
    gap: 2svh;

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2svh;
    }

    app-menu-button {
        margin-top: 40px;
        width: 100%;
    }
}
