div {
    display: flex;
    justify-content: center;
    height: 100svh;
    width: 50svw;
    flex-direction: column;
    gap: 2svh;

    p {
        padding: 20px;
        background-color: var(--pink);
        color: var(--brown);
        border-radius: 11px;
        width: calc(100% - 40px);
        border: 0;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
    }

    app-menu-button {
        margin-top: 4svh;
    }
}
