<form [formGroup]="visualOptionsForm">

    <label for="colorSetName">Theme:</label>
    <select id="colorSetName" formControlName="colorSetName">
        <option [value]="ColorSetName.PINK_CREME">{{ColorSetName.PINK_CREME}}</option>
        <option [value]="ColorSetName.PURPLE_HAZE">{{ColorSetName.PURPLE_HAZE}}</option>
        <option [value]="ColorSetName.SUNSET_ORANGE">{{ColorSetName.SUNSET_ORANGE}}</option>
        <option [value]="ColorSetName.GREENISH">{{ColorSetName.GREENISH}}</option>
    </select>
</form>
