@switch (occupant()) {
    @case (Occupant.VOID) {
        @if (isColumnOdd() && isRowOdd()) {
            <div class="void-cell-odd"></div>
        } @else if (!isColumnOdd() && isRowOdd()) {
            <div class="void-cell-even"></div>
        } @else if (isColumnOdd() && !isRowOdd()) {
            <div class="void-cell-even"></div>
        } @else {
            <div class="void-cell-odd"></div>
        }

    }
    @case (Occupant.SNAKE_BODY) {
        @if (isColumnOdd() && isRowOdd()) {
            <div class="void-cell-odd">
                <div class="snake-body"></div>
            </div>
        } @else if (!isColumnOdd() && isRowOdd()) {
            <div class="void-cell-even">
                <div class="snake-body"></div>
            </div>
        } @else if (isColumnOdd() && !isRowOdd()) {
            <div class="void-cell-even">
                <div class="snake-body"></div>
            </div>
        } @else {
            <div class="void-cell-odd">
                <div class="snake-body"></div>
            </div>
        }
    }
    @case (Occupant.SNAKE_HEAD) {
        @if (isColumnOdd() && isRowOdd()) {
            <div class="void-cell-odd">
                <div class="snake-head">
                    <ng-container *ngTemplateOutlet="snakeEyes"></ng-container>
                </div>
            </div>
        } @else if (!isColumnOdd() && isRowOdd()) {
            <div class="void-cell-even">
                <div class="snake-head">
                    <ng-container *ngTemplateOutlet="snakeEyes"></ng-container>
                </div>
            </div>
        } @else if (isColumnOdd() && !isRowOdd()) {
            <div class="void-cell-even">
                <div class="snake-head">
                    <ng-container *ngTemplateOutlet="snakeEyes"></ng-container>
                </div>
            </div>
        } @else {
            <div class="void-cell-odd">
                <div class="snake-head">
                    <ng-container *ngTemplateOutlet="snakeEyes"></ng-container>
                </div>
            </div>
        }
    }
    @case (Occupant.APPLE) {
        @if (isColumnOdd() && isRowOdd()) {
            <div class="void-cell-odd">
                <div class="apple"></div>
            </div>
        } @else if (!isColumnOdd() && isRowOdd()) {
            <div class="void-cell-even">
                <div class="apple"></div>
            </div>
        } @else if (isColumnOdd() && !isRowOdd()) {
            <div class="void-cell-even">
                <div class="apple"></div>
            </div>
        } @else {
            <div class="void-cell-odd">
                <div class="apple"></div>
            </div>
        }
    }
}

<ng-template #snakeEyes>
    @switch (direction()) {
        @case (Direction.UP) {
            <div class="eyes-up">
                <div class="snake-eye"></div>
                <div class="snake-eye"></div>
            </div>
        }
        @case (Direction.DOWN) {
            <div class="eyes-down">
                <div class="snake-eye"></div>
                <div class="snake-eye"></div>
            </div>
        }
        @case (Direction.LEFT) {
            <div class="eyes-left">
                <div class="snake-eye"></div>
                <div class="snake-eye"></div>
            </div>
        }
        @case (Direction.RIGHT) {
            <div class="eyes-right">
                <div class="snake-eye"></div>
                <div class="snake-eye"></div>
            </div>
        }
    }
</ng-template>
