.cell {
    padding: min(30px, 3svw) min(30px, 3svw);
}

.void-cell-odd {
    @extend .cell;
    background-color: var(--pink);
}

.void-cell-even {
    @extend .cell;
    background-color: var(--pink)-darker;
}

.apple-cell {
    @extend .cell;
    background-color: var(--creme);
}

.snake-cell {
    @extend .cell;
    background-color: var(--brown);
}