:root {
    --pink: #ff8ba7;
    --pink-darker: #ce5a78;
    --brown: #33272a;
    --brown-lighter: #49373c;
    --creme: #faeee7;
}

@font-face {
    font-family: 'Barlow-Regulr';
    src: url('/assets/Barlow-Regular.ttf') format('truetype');
}

* {
    font-family: 'Barlow-Regulr', sans-serif;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--creme);
}

button {
    padding: 20px;
    background-color: var(--pink);
    color: var(--brown);
    border-radius: 11px;
    width: 100%;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 150ms linear;

    &:hover {
        transform: scale(0.95);
        cursor: pointer;
        background-color: var(--pink-darker);
        color: var(--brown-lighter);
    }
}

dialog {
    background-color: var(--creme);
    border: 0;
    padding: 40px;
    border-radius: 11px;
    transition: display 150ms linear;

    p {
        font-size: 30px;
        font-weight: bold;
        color: var(--brown);
    }
}
